# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [3]:
import pandas as pd

## Regression Model Evaluation

In [4]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [5]:

data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [7]:

from sklearn.model_selection import train_test_split

X = data.drop(columns = 'MEDV')
y = data['MEDV']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [8]:

from sklearn.linear_model import LinearRegression
from sklearn import metrics

linear = LinearRegression()
linear.fit(X_train, y_train)

pred_train = linear.predict(X_train)
pred_test = linear.predict(X_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [9]:
r_train = metrics.r2_score(y_train, pred_train)
r_test = metrics.r2_score(y_test, pred_test)

print(f'''

TRAIN

{r_train}

TEST

{r_test}

''')

TRAIN

0.73038211326648

TEST

0.7593416932309547

## 4. Calculate and print mean squared error for both the training and the testing set.

In [10]:
MSE_train = metrics.mean_squared_error(y_train, pred_train)
MSE_test = metrics.mean_squared_error(y_test, pred_test)

print(f'''

TRAIN

{MSE_train}

TEST

{MSE_test}

''')

TRAIN

22.415610114160806

TEST

21.46279442135613

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [11]:
MAE_train = metrics.mean_absolute_error(y_train, pred_train)
MAE_test = metrics.mean_absolute_error(y_test, pred_test)

print(f'''

TRAIN

{MAE_train}

TEST

{MAE_test}

''')

TRAIN

3.293799979542071

TEST

3.472608627102781

## Classification Model Evaluation

In [15]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [16]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [17]:

X = data.drop( columns = 'class' )
y = data['class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [22]:

from sklearn.linear_model import LogisticRegression

log = LogisticRegression(multi_class = 'multinomial')
log.fit(X_train, y_train)

pred_train = log.predict(X_train)
pred_test = log.predict(X_test)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [23]:
acc_train = metrics.accuracy_score(y_train, pred_train)
acc_test = metrics.accuracy_score(y_test, pred_test)

print(f'''

TRAIN

{acc_train}

TEST

{acc_test}

''')

TRAIN

0.9666666666666667

TEST

1.0

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [24]:
bacc_train = metrics.balanced_accuracy_score(y_train, pred_train)
bacc_test = metrics.balanced_accuracy_score(y_test, pred_test)

print(f'''

TRAIN

{bacc_train}

TEST

{bacc_test}

''')

TRAIN

0.9670634920634921

TEST

1.0

## 10. Calculate and print the precision score for both the training and the testing set.

In [26]:
prec_train = metrics.precision_score(y_train, pred_train, average = 'macro')
prec_test = metrics.precision_score(y_test, pred_test, average = 'macro')

print(f'''

TRAIN

{prec_train}

TEST

{prec_test}

''')

TRAIN

0.9685007974481659

TEST

1.0

## 11. Calculate and print the recall score for both the training and the testing set.

In [28]:
rec_train = metrics.recall_score(y_train, pred_train, average = 'macro')
rec_test = metrics.recall_score(y_test, pred_test, average = 'macro')

print(f'''

TRAIN

{rec_train}

TEST

{rec_test}

''')

TRAIN

0.9670634920634921

TEST

1.0

## 12. Calculate and print the F1 score for both the training and the testing set.

In [32]:
f1_train = metrics.f1_score(y_train, pred_train, average = 'macro')
f1_test = metrics.f1_score(y_test, pred_test, average = 'macro')

print(f'''

TRAIN

{f1_train}

TEST

{f1_test}

''')

TRAIN

0.9674021069369907

TEST

1.0

## 13. Generate confusion matrices for both the training and the testing set.

In [33]:
cfm_train = metrics.confusion_matrix(y_train, pred_train)
cfm_test = metrics.confusion_matrix(y_test, pred_test)

print(f'''

TRAIN

{cfm_train}

TEST

{cfm_test}

''')

TRAIN

[[38  0  0]
 [ 0 37  3]
 [ 0  1 41]]

TEST

[[12  0  0]
 [ 0 10  0]
 [ 0  0  8]]

In [35]:
train_cfm = pd.DataFrame(data = cfm_train, columns =['Setosa','Versicolour','Virginica'], index =['Setosa','Versicolour','Virginica'])
train_cfm

             Setosa  Versicolour  Virginica
Setosa           38            0          0
Versicolour       0           37          3
Virginica         0            1         41

In [36]:
test_cfm = pd.DataFrame(data = cfm_test, columns =['Setosa','Versicolour','Virginica'], index =['Setosa','Versicolour','Virginica'])
test_cfm

             Setosa  Versicolour  Virginica
Setosa           12            0          0
Versicolour       0           10          0
Virginica         0            0          8

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.